h1 {
  font-family: 'Lora', Arial, serif;
  color: #6878;
  font-size: 4vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  margin-top: 0;
}

h2 {
  font-size: 3vw;
  color: #687864;
  text-align: center;
  font-family: 'Lora', Arial, serif;
}

body {
  background-image: url("images/blue-sea-turtle.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
}

li {
  margin: 0 0 7px 0;
}

.nav {
  line-height: 3;
  position: relative;
}

ul.nav {
  margin-top: 10%;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav a {
  color: white;
  font-size: 2.5vw;
  font-family: 'Lora', helvetica,  serif;
}

.content {
  margin-top: 5%;
  position: absolute;
  width: 100%;
}

.box {
  background-color: #6878;   
}

